@import "addons.scss";
@import "hallosme.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in hallosme.scss */

body{
	margin: auto !important;
	width: 1040px;
}

.hallosme {
  @include addons;
  @include hallosme;
}
