<v-vertical-layout size-full>
	<v-horizontal-layout size-full :expand>
		<v-panel caption="List of Equals" height-full width-auto>
			<v-vertical-layout _id="menuContent" width-auto margin/>
		</v-panel>
		<v-panel _id="equalPanel" caption="An Equal" size-full :expand/>
	</v-horizontal-layout>
	<v-button _id="logout">Logout</v-button>
</v-vertical-layout>